html, body {
    height: 100%;
}

body { margin: 0 }
.fixed-row, .fixed-col { overflow: hidden; position: absolute; }
.fixed-row { left: 0; right: 0; }
.fixed-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

header.fixed-row { height: 75px; top: 0; }
section.fixed-row { top: 75px; bottom: 50px; }
footer.fixed-row { height: 50px; bottom: 0; }



.estates .row-fluid > .span2 {
    border-left: 1px solid #B9B9B9;
}

    .estates ul {
        width: 250px;
        padding: 0px 10px 10px 10px;
    }

        .estates ul li {
            padding: 10px;
            cursor: pointer;
        }

.ul-striped > li:nth-child(odd) {
    background-color: #f9f9f9;
}
