<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="estates-app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="estates-app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="estates-app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="estates-app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/content/bootstrap.min.css">
        <link rel="stylesheet" href="/content/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/content/font-awesome.min.css">
        <link rel="stylesheet" href="/content/app.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="fixed-row">
            <h1>Estates</h1>
        </header>

        @RenderBody()

        <footer class="fixed-row">

        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/scripts/jquery-2.0.2.min.js"><\/script>')</script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATbaOrd0PsRnzCtft5oFDNwUdfmxJ1dbs&sensor=false"></script>
        <script src="/scripts/bootstrap.min.js"></script>
        <script src="/scripts/angular.min.js"></script>
        <script src="/scripts/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <script src="/scripts/angular-google-maps.js"></script>
        <script src="/scripts/app.js"></script>

    </body>
</html>